@import 'variables';

.hero {
    position: relative; /* Add this to define the positioning context for .coming-soon */
    text-align: center; /* Center-align text */
    height: 100vh; /* Optional: Ensures it takes the full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
}

.coming-soon {
    position: absolute;
    top: 15px; /* Adjusted positioning */
    right: 15px;
    background-color: $secondary-color;
    color: #fff;
    font-size: 1.5rem; /* Slightly larger font for visibility */
    padding: 10px 15px; /* Adjusted padding for better design */
    border-radius: 5px;
    font-family: 'TheSeasons', sans-serif;
    z-index: 2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Make the text pop more */
}
