@import 'variables';
  
  /* Logo */
  .logo-container {
    flex: 1;
    display: inline-flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    margin-top: 50px;
    left: 0; 
  }

  .logo {
    height: 250px;
    width: auto;
    transition: opacity 0.3s ease;
  }

  .logo-text {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 70px;
    color: $primary-color; /* Match the branding color */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth fade-in */
    background-color: inherit;
  }

  .sunset {
    font-family: 'Eyesome-script','Montserrat', sans-serif;
    font-size: 30px;
    color: #dd2828; /* Custom color for "Sunset" */
  }
  
  .ave {
    font-family: 'DejaVu-serif','Arimo', serif;
    font-size: 20px;
    color: #dd2828; /* Custom color for "Ave" */
    margin-left: 5px; /* Optional spacing between the words */
    margin-right: 20px;
  }

  /* Taskbar Section */
  .taskbar {
    height: 80px;
    width: 100%;
    display: flex;
    margin-left: 261px;
    justify-content: space-between; /* Spreads logo, links, and icons */
    align-items: center; /* Centers items vertically */
    padding: 0px 1px;
    background-color: transparent; /* Transparent taskbar */
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Smooth background transition */

    &.scrolled {
      background-color: $background-color;
      box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    }
  }  

/* Scrolled State */
.taskbar.scrolled .logo {
  display: none; /* Hides the logo when scrolled */
}

.taskbar.scrolled .logo-text {
  transition: background-color 0.3s ease; /* Smooth background transition */
  opacity: 1; /* Makes the text visible */
  align-items: center;
  background-color: $background-color;
  padding: 29px 40px 7px 60px; /* top right bottom left */
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

  .taskbar.scrolled {
    background-color: $background-color; /* Light background when scrolled */
  }
  
  /* Navigation Links */
  .nav-links {
    flex: 2;
    display: flex;
    gap: 40px;
  }
  
  .nav-links a {
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    color: $primary-color; /* Default color */
    /* margin-top: 15px; */
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
    justify-content: space-between;
  }
  
  .nav-links a:hover {
    color: $secondary-color; /* Hover color */
    transform: scale(1.1); /* Grow effect */
  }

  /* Icons */
  .icons {
    flex: 1;
    display:inline;
    justify-content:end;
    // gap: 15px;
    margin-left: 440px;
    margin-right: 130px;
  }
  
  .icons a {
    font-size: 24px; /* icons are 33x33px */
    color: $primary-color;
    padding-left: 15px;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .icons a:hover {
    color: $secondary-color;
    transform: scale(1.1);
  }

  
  